
/* ----- Form ----- */
.form-demo .card {
    min-width: 450px;
}
.form-demo .card form {
    margin-top: 2rem;
}
.form-demo .card .field {
    margin-bottom: 1.5rem;
}
@media screen and (max-width: 960px) {
    .form-demo .card {
        width: 80%;
    }
}
@media screen and (max-width: 640px) {
    .form-demo .card {
        width: 100%;
        min-width: 0;
    }
}

form {
    display: block;
    margin-top: 4em !important;
    width: 100%;
}

h3{
    display: block;
    font-size: 1rem;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: orange;
    margin-top: 1em !important;
    text-align: center;
}

h5 {
    display: block;
    font-size: 2em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: orange;
    margin-top: 1em !important;
    text-align: center;
    
}

/* ----- Check-Boxes ----- */

h6 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: orange !important;
    margin-top: 1em !important;
    text-align: center;
    
}
.field-checkbox, .field-radiobutton {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    text-align: center !important;
}

.p-checkbox .p-checkbox-box.p-highlight {
    border-color: black !important;
    background: orange !important;
}


/* ----- Botões ----- */

.p-button:enabled:hover, .p-button:not(button):not(a):not(.p-disabled):hover {
    background: rgb(255, 123, 0);
    color: black;
    border-color: rgb(255, 123, 0);
}

.p-fluid .p-button {
    width: 100%;
}

.p-button {
    color: black;
    background: orange;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 6px;
    margin-top: 1.5em !important;
}

.p-button.p-button-text {
    background-color: transparent;
    color: #f59e0b;
    border-color: transparent;
}

.bottom{
    margin-bottom: 20%;
}
.botaoCadastro{
    text-align: center;

}