.botaoTamanho {
    padding: 15px 45px!important;
}
.p-button.mt0{
    margin-top: 0 !important;
}
.datatable-crud-demo .table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media screen and (max-width: 960px) {
    .datatable-crud-demo .table-header {
        align-items: flex-start;
    }
}
.datatable-crud-demo .product-image {
    width: 100px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.datatable-crud-demo .p-dialog .product-image {
    width: 150px;
    margin: 0 auto 2rem auto;
    display: block;
}
.datatable-crud-demo .confirmation-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 960px) {
    .datatable-crud-demo .p-toolbar {
        flex-wrap: wrap;
    }
    .datatable-crud-demo .p-toolbar .p-button {
        margin-bottom: 0.25rem;
    }
    .datatable-crud-demo .table-header {
        flex-direction: column;
    }
    .datatable-crud-demo .table-header .p-input-icon-left, .datatable-crud-demo .table-header input {
        width: 100%;
    }
}

.excluir {
    background: #EF4444 !important;
    border: 1px solid #EF4444 !important;
}

.datatable-crud-demo{
width: 95%;
margin: 0 auto;
margin-top: 3rem;
}

.formatarFont{
    font-family: Arial,sans-serif;
    margin-top: 1px;
}

li {
    list-style-type: none;
}

.p-toolbar.br0{
    border-end-start-radius: 0;
    border-end-end-radius: 0;
}

.p-button:enabled:hover.bt-delete-hover{
    background: #d42929 !important;
}

.p-button:enabled:hover.bt-dialog{
    background: #efefef;
    color: rgb(255, 123, 0);
}

.p-dialog.pb0-input-dialog-categoria .p-dialog-content{
    padding-bottom: 0;
}

.field.mbt0 {
    margin-bottom: 0rem;
}

.p-datatable.dt-select-field .p-datatable-tbody > tr.p-highlight{
    color: black;
    background: #efefef;
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover{
    border-color: black;
}

.p-multiselect.mult-chips-bgcolor-color.p-multiselect-chip .p-multiselect-token{
    background: orange;
    color: black;
    font-weight: 700;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight{
    color: black;
    background: #efefef;
}