.borda-inicial{
    border-radius: 10px;
    width: 80%;
    background-color: #ECECEC;
    margin: 0 auto;
    padding: 2rem 0rem ;
}
.espaçamento{
    margin-top: 4%;
}
.centralizar{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px !important;
}
.flexibilizar{
margin-top: 1%;
}

.input-Calendario input.p-inputtext.p-component{
    padding: 12px 44px;
    width: 100% !important;
}

.flexibilizar{
display: flex;
flex-direction: column ;
}


input.p-inputtext.p-component.tamanho-input{
    margin: 0 auto;
    width: 60%;
}
.ajuste-label{
    margin-left: 20%;
    
}
.inputs {
    margin: 0 auto;
    margin-right: 47.4%;
}
.coluna-valor{
display: flex;
flex-direction: row;
justify-content: center;
margin-top: 2%;
}

.valor{
    width: 20%;
}
.desconto{
    width: 20%;
}
.valorFinal{
    width: 20%;
    padding: 0px 0px;
}


.valor input.p-inputtext.p-component{
    margin: 0 auto;
    width: 10%;
}
.desconto input.p-inputtext.p-component{
    margin: 0 auto;
    width: 10%;
}
.valorFinal input.p-inputtext.p-component{
    margin: 0 auto;
    width: 10%;
}

.tamanho-input-categoria{
    margin: 0 auto;
    width: 60%;
}

.tamanho-input-pacote{
    margin: 0 auto;
    width: 60%;
}

.tamanho-input-produto{
    margin: 0 auto;
    width: 60%;
}

.bottomOferta{
    margin: 0 auto !important;
    display:flex;
    justify-content: center !important;
}